<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cours_project">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">
        <activity
            android:name=".Screens.GameScreen_10x10"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Screens.BlackPick_10x10"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Screens.WhitePick_10x10"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Screens.GameScreen_5x5"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Screens.BlackPick_5x5"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Screens.WhitePick_5x5"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Screens.BlackPick_8x8"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Screens.WhitePick_8x8"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Screens.GameScreen_8x8"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Screens.ChoiceGameOpponent"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Screens.ChoiceField"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Screens.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>